<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
	  <context-param>
	  	<param-name>contextConfigLocation</param-name>
	  	<param-value>classpath:applicationContext.xml</param-value>
	  </context-param>
	  <listener>
	    <description>spring监听器</description>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	  </listener>
   <servlet>
  		 <!-- 不带Spring 只有jersey -->
		<servlet-name>JAX-RS REST Servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		 <!-- 
		 <servlet-name>JAX-RS REST Servlet</servlet-name>
         <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
          -->
		<init-param>
           <param-name>JSONConfiguration.FEATURE_POJO_MAPPING</param-name>
            <param-value>true</param-value> 
          </init-param>
          <init-param>
          	<param-name>com.sun.jersey.config.property.packages</param-name>  
   			  <!-- 下面的这个是你的项目里的类的包名称！ 。不要写错了。否则会上面的错误 -->
 	     	<param-value>com.spd.ws</param-value>  
          </init-param>
        <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>JAX-RS REST Servlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
</web-app>