 #choose-box-wrapper{  
        width: 668px;  
        background-color:#000;  
        filter:alpha(opacity=50);  
        background-color: rgba(0, 0, 0, 0.5);  
        padding:10px;  
        border-radius:5px;  
        display:none;  
        z-index: 999999;
    }  
    #choose-box{  
        border: 1px solid #005EAC;  
        width:650px;  
        background-color:white;  
    }  
    #choose-box-title{  
        background:#3777BC;  
        color: white;  
        padding: 4px 10px 5px;  
        font-size: 14px;  
        font-weight: 700;  
        margin: 0;  
    }  
    #choose-box-title span{  
        font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;  
    }  
  
    #choose-a-class, #choose-a-item{  
        margin:5px 8px 10px 8px;  
        border: 1px solid #C3C3C3;  
    }  
    #choose-a-class a{  
        display:inline-block;  
        /** height: 18px; **/  
        line-height: 18px;  
        color:#005EAC;  
        text-decoration: none;  
        font-size: 9pt;  
        font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;  
        margin:2px 5px;  
        padding: 5px;  
        text-align: center;  
    }  
    #choose-a-class a:hover{  
        text-decoration: none;  
        cursor:pointer;  
    }  
    #choose-a-class .choosen{  
        background-color: #005EAC;  
        color:white;  
    }  
      
    #choose-a-item{  
        overflow-x: hidden;  
        overflow-y: auto;  
        height: 200px;  
    }  
    #choose-a-item a{  
        height: 18px;  
        line-height: 18px;  
        color:#005EAC;  
        text-decoration: none;  
        font-size: 9pt;  
        font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;  
        float: left;  
        padding:2px 5px 2px 5px;  
        margin: 4px;  
        padding-left:10px;  
        background:url(2012072500060712.gif) no-repeat 0 9px;  
    }  
    #choose-a-item a:hover{  
        background-color:#005EAC;  
        color:white;  
        cursor:pointer;  
    }  
    #choose-a-item .itemli{  
        width:100px;   
        list-style:none;   
        float:left;  
    }  
    #choose-a-item .class-item-ck  
    {  
        margin-top:10px;  
        display:inline;  
    }  
          
    #choose-box-bottom{  
        background: #F0F5F8;  
        padding: 8px;  
        text-align: right;  
        border-top: 1px solid #CCC;  
        height:40px;  
    }  
    #choose-box-bottom input{  
        vertical-align: middle;  
        text-align: center;  
        background-color:#005EAC;  
        color:white;  
        border-top: 1px solid #B8D4E8;  
        border-left: 1px solid #B8D4E8;  
        border-right: 1px solid #114680;  
        border-bottom: 1px solid #114680;  
        cursor: pointer;  
        width: 60px;  
        height: 25px;  
        margin-top: 6px;  
        margin-right: 6px;  
    }  