@CHARSET "UTF-8";

body{
	
	width:1600px;
	height:800px;
}
.searchArea{
	
	
	border-right:3px outset;
	border-top:3px outset;
	background: #ffffff; 
	border-left: 3px outset; 
	width: 300px; 
	border-bottom: 3px outset; 
	height: 800px;
	background-color: #ededef;
	float:left;
	margin-top:10px;
	font-family:黑体;
	font-size: 16;
	
	
}

.mainContent{
	border-right:3px outset;
	border-top:3px outset;
	background: #ffffff; 
	border-left: 3px outset; 
	width: 1200px; 
	border-bottom: 3px outset; 
	margin-top:10px;
	background-color: #ededef;
	float:left;
	height:800px;
	
}

.elementSelect{
	background-color: #31C33E;
	color:white;
}

dl{width:800px;margin:0 auto; text-align:center;}
dt{clear:both;text-align:center;font-weight: bold;}
dd{float: left;width:125px;text-align: center;height: auto;padding: 5px 0;border:solid 1px #282828;margin:0px;}



